@charset "UTF-8";
@import url("font.css");

* {
    margin: 0;
    padding: 0
}

html,
body {
    font-size: 17px;
    letter-spacing: -0.025em;
    font-family: "Noto Sans KR", "NanumSquare", sans-serif;
    overflow-x: hidden;
}

input[type="text"],
input[type="password"] {
    height: 45px;
    border: 1px solid #dddddd;
    padding: 8px 10px;
    box-sizing: border-box;
}

#wrap {
    width: 100%;
    overflow: hidden;
}

#header,
#container,
#footer {
    width: 100%;
    position: relative;
}

.inner {
    position: relative;
    width: 1280px;
    height: 100%;
    margin: 0 auto;
}

.container-sub .inner {
    display: flex;
    justify-content: space-between;
  }

/* tnb */
#tnb .inner{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#tnb .login-btns{
    display: flex;
    align-items: center;
}

#tnb .login-btns .mypage-menu ul li a,
#tnb .login-btns a{
    font-size: 12px;
    color: #666;
    line-height: 25px;
    padding: 0 10px;
    position: relative;
}

#tnb .login-btns .mypage-menu ul li a::after,
#tnb .login-btns a::after{
    content: '';
    display: block;
    width: 1px;
    height: 10px;
    background: #999;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0,-50%);
}

#tnb .login-btns .mypage-menu ul li:last-child a::after,
#tnb .login-btns a:last-child::after{
    display: none;
}

#tnb .login-btns .mypage-menu ul{
    display: flex;
    align-items: center;
}

#tnb .inner .tnbLink{
    display: flex;
    width: 350px;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 15px;
}

#tnb .inner .tnbLink a{
    display: block;
    width: 50%;
    padding: 10px 0;
    font-size: 14px;
    color: #fff;
    background: #ccc;
    text-align: center;
}

#tnb .inner .tnbLink a:nth-child(1){
    background: #1f6dda;
}

#tnb .inner .tnbLink a:nth-child(2){
    background: #1bbbbf;
}

/* header */
#header {
    height: 85px;
    background-color: #fff;
    box-sizing: border-box;
    padding-bottom: 15px;
}

#header .inner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#header #h-logo {
    width: 50%;
    height: auto;
}

#header #h-logo a {
    display: block;
    max-width: 339px;
}

#header #h-logo img{
    width: 100%;
}

#header #header-search {
    display: block;
    border: 2px solid #4f5865;
    height: 34px;
    box-sizing: border-box;
    border-radius: 5px;
    overflow: hidden;
}

#header #header-search .input-wrap {
    display: flex;
    align-items: flex-start;
    align-items: center;
}

#header #header-search .input-wrap input[type="text"] {
    border: none;
    width: 300px;
    height: 30px;
    font-size: 14px;
}

#header #header-search .input-wrap button[type="button"].search-btn {
    background-color: #4f5865;
    width: 40px;
    height: 30px;
    border: none;
    background-image: url(../images/ico_search.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 60%;
    font-size: 0;
    text-indent: -999999em;
    cursor: pointer;
}

#header .search_detail{
    font-size: 14px;
    display: block;
    padding: 7px 0;
    position: relative;
    margin-right: 15px;
}

#header .search_detail::before{
    content:'';
    display: block;
    width: 100%;
    height: 1px;
    background: #666;
    position: absolute;
    left: 0;
    bottom: 0;
}

#header .book-rank {
    display: flex;
    align-items: center;
}

#header .book-rank .rank-slide {
    overflow: hidden;
    width: 125px;
}

#header .book-rank .rank-slide a {
    display: flex;
    align-items: center;
    letter-spacing: -0.025em;
}

#header .book-rank .rank-slide a span.rank-num {
    display: block;
    width: 25px;
    font-size: 1.2em;
    color: #0068ca;
    font-weight: 600;
    margin-right: 5px;
}

#header .book-rank .rank-slide a p {
    width: calc(100% - 30px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #444;
    font-size: 0.8em;
    line-height: 1.2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#header .book-rank .rank-nav {
    display: flex;
}

#header .book-rank .rank-nav a {
    width: 17px;
    height: 17px;
    border: 1px solid #ddd;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 0;
    text-indent: -99999em;
}

#header .book-rank .rank-nav a.rank-prev {
    background-image: url(../images/rank_prev.png);
    border-right: 0.5px solid #ddd;
    display: none;
}

#header .book-rank .rank-nav a.rank-next {
    background-image: url(../images/rank_next.png);
    border-left: 0.5px solid #ddd;
    transform: rotate(90deg);
}

/*
#header a.system-link { display:flex; align-items: center; }
#header a.system-link i.i-system { display:block; width:65px; height:65px; overflow: hidden; background-color:#e1e4e4; border-radius:50%; margin-right:10px; background-image:url(../images/i_system.png); background-position:center; background-repeat:no-repeat; }
#header a.system-link p { font-weight:700; line-height:1.2; font-family:"S-CoreDream", "Noto Sans KR", "NanumSquare", sans-serif; color:#000; letter-spacing: -0.025em; }
#header a.system-link p span { color:#444; }
*/

#header span.system-link {
    display: flex;
    align-items: center;
}

#header span.system-link a.i_system {
    display: block;
    width: 136px;
    margin-right: 15px;
}

#header span.system-link a.i_auto_system {
    display: block;
    width: 115px;
}

#navbar {
    height: 45px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background: #303192;
}

#navbar .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar a.all-cate {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 45px;
    /* background-color: #8b8c8f; */
}

#navbar a.all-cate i.cate-ham {
    display: block;
    width: 21px;
    height: 16px;
    position: relative;
}

#navbar a.all-cate i.cate-ham span {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
}

#navbar a.all-cate i.cate-ham span:nth-of-type(1) {
    top: 0;
}

#navbar a.all-cate i.cate-ham span:nth-of-type(2) {
    top: 50%;
    transform: translate(0,-50%);
}

#navbar a.all-cate i.cate-ham span:nth-of-type(3) {
    bottom: 0;
}

#navbar a.all-cate p {
    letter-spacing: -0.025em;
    color: #fff;
    font-weight: 500;
    font-size: 1em;
    margin-left: 10px;
}

#navbar .cate-box {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 45px;
    /* display: none; */
    width: 1280px;
    height: 0;
    padding: 0 20px;
    background-color: #fff;
    z-index: 9999;
    /* border: 1px solid #ddd; */
    padding: 0 20px 0 20px;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgb(0, 0, 0, 0.05);
    transition: all 0.3s;
}

#navbar .cate-box h2 {
    font-size: 1.1em;
    font-weight: 500;
    letter-spacing: -0.05em;
}

#navbar .cate-box.open {
    height: 330px;
    padding: 20px;
}

#navbar .cate-box a.cate-close {
    position: absolute;
    right: 8px;
    top: 8px;
    font-size: 0;
    text-indent: -9999em;
    width: 25px;
    height: 25px;
    background-color: #fff;
    border: 1px solid #ddd;
    background-image: url(../images/i_x.png);
    background-repeat: no-repeat;
    background-position: center;
}

#navbar .cate-box .cate-list {
    overflow: hidden auto;
    display: flex;
    justify-content: space-between;
    width: 87%;
    height: 250px;
    margin: 0 0 0 50px;
    padding: 20px 0;
}
#navbar .cate-box .cate-list .col-area {
    width: 18%;
    position: relative;
}
#navbar .cate-box .cate-list::-webkit-scrollbar {
    width: 2px;  /* 스크롤바의 너비 */
}
#navbar .cate-box .cate-list::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: #000; /* 스크롤바의 색상 */    
    border-radius: 10px;
}

#navbar .cate-box .cate-list::-webkit-scrollbar-track {
    background: #F0F0F0;  /*스크롤바 뒷 배경 색상*/
}

#navbar .cate-box .cate-list>ul {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
#navbar .cate-box .cate-list>ul:first-child::after {
    display: none;
}
/* #navbar .cate-box .cate-list ul li {width: 25%;} */

#navbar .cate-box .cate-list ul li.list-item .cate-depth2 {
    display: none;
}
#navbar .cate-box .cate-list ul li.list-item.on .cate-depth2 {
    display: block;
}
#navbar .cate-box .cate-list ul li.list-item.on .fold-box-header::after {
    background-image: url(../images/ico_fold_menu_minus.png);
}
#navbar .cate-box .cate-list ul li.list-item a.cate-depth1 {
    position: relative;
    display: block;
    width: 80%;
    font-weight: 500;
    color: #000;
    padding: 10px 0;
    border-radius: 4px;
    font-size: 14px;
}
/* #navbar .cate-box .cate-list ul li.list-item a.cate-depth1::after {    
    content: "\f105";
    position: absolute;
    top: 50%;
    right: 0;
    padding: 0 1px 1px 0;
    transform: translateY(-50%);
    font-family: 'Line Awesome Free';
    font-weight: 900;
    font-size: 11px;
    border: 1px solid #eee;
    color: #999;
} */
#navbar .cate-box .cate-list ul li.list-item a.cate-depth1:hover {
    color: #303192;
    text-decoration: underline;
}
/* #navbar .cate-box .cate-list ul li.list-item a.cate-depth1:hover::after {
    border: 1px solid #8383c9;
    color: #303192;
} */

#navbar .cate-box .cate-list ul li.list-item .fold-box-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}
#navbar .cate-box .cate-list ul li.list-item .fold-box-header::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 1px;
    transform: translateY(-50%);
    width: 11px;
    height: 11px;
    background: url(../../book/images/ico_fold_menu_plus.png) 0 0 / contain no-repeat;
}
#navbar .cate-box .cate-list ul li.list-item .fold-box-header:hover::after{
    background: url(../../book/images/ico_fold_menu_plus_hover.png) 0 0 / contain no-repeat;
}
#navbar .cate-box .cate-list ul li.list-item .btn-fold {
    position: absolute;
    top: 0;
    right: 0;
    width: 19px;
    height: 100%;
    z-index: 1;
    display: inline-block;
    text-indent: -1000px;
    box-sizing: border-box;
    border: none;
    background: transparent;
    cursor: pointer;
}

#navbar .cate-box .cate-list ul li.list-item a.cate-depth1.on {
    color: #fff;
    font-weight: 900;
    background-color: #333;
}


#navbar .cate-box .cate-list ul li.list-item ul.cate-depth2.open {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: calc(20px + 1%);
    width: calc(98% - 40px);
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 5px 5px 13px rgba(0, 0, 0, 0.3);
    background-color: #f9f9f9
}

#navbar .cate-box .cate-list ul li.list-item ul.cate-depth2.open li {
    width: 18%;
    margin: 1%;
}

#navbar .cate-box .cate-list ul li.list-item ul.cate-depth2 li a {
    position: relative;
    display: block;
    font-size: 0.9em;
    color: #000;
    text-overflow: ellipsis;
    padding: 5px 0 5px 18px;
    box-sizing: border-box;
    font-size: 13px;
    line-height: 19px;
    color: #767676;
}

#navbar .cate-box .cate-list ul li.list-item ul.cate-depth2 li a::before {
    content: "";
    display: block;
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    width: 3px;
    height: 3px;
    border-radius: 3px;
    background-color: #777;
    letter-spacing: -0.025em;
}

.m-nav {
    display: none;
}

#navbar .nav {
    width: calc(100% - 160px);
    height: 100%;
}

#navbar .nav ul {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-around;
}

#navbar .nav ul li {
    position: relative;
    height: 100%;
}

#navbar .nav ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 130px;
    letter-spacing: -0.05em;
    color: #FFF;
    font-weight: 600;
    font-size: 1em;
}

#navbar .nav ul li a.naviBbs {
    opacity: 0.5;
}

#navbar .nav .depth2 {
    position: absolute;
    top: 45px;
    left: 0;
    right: 0;
    z-index: 100;
}
#navbar .nav .depth2 a {
    color: #000;
}

#navbar .login-btns {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: 280px;
}

#navbar .login-btns>a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: -0.025em;
    color: #FFF;
}

#navbar .login-btns>a.btnLogin {
    padding: 5px 15px 8px 15px;
    background: #949599;
    border-radius: 4px;
    margin-right: 10px;
}

#navbar .login-btns>a.join {
    padding: 5px 15px 8px 15px;
}

#navbar .login-btns>a.btnLogout {
    padding: 5px 10px 8px 10px;
    margin-right: 10px;
}

#navbar .login-btns>a.mypage {
    padding: 5px 10px 8px 10px;
    margin-right: 10px;
}

#navbar .login-btns>a.cart {
    display: inline-block;
    width: 24px;
    height: 23px;
    background: url('../images/new/bg_cart_menu.png') left 50% no-repeat;
}

/* #navbar .login-btns > a::before { content:""; display:block; margin-right:8px; background-repeat:no-repeat; background-position:center; } */
/* #navbar .login-btns > a.login::before { width:10px; height:14px; background-image:url(../images/ico_login.png); }
#navbar .login-btns > a.join::before { width:12px; height:12px; background-image:url(../images/ico_join.png); }
#navbar .login-btns > a.join::after { content:""; position:absolute; left:-23px; top:50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); display:block; width:1px; height:18px; background-color:#ddd; } */

/* #navbar .login-btns > a.mypage::before { width:10px; height:14px; background-image:url(../images/ico_login.png); }
#navbar .login-btns > a.mypage::before { width:12px; height:12px; background-image:url(../images/ico_join.png); }
#navbar .login-btns > a.mypage::after { content:""; position:absolute; left:-23px; top:50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); display:block; width:1px; height:18px; background-color:#ddd;} */

/* #navbar .login-btns div.join { position:relative; display:flex; align-items: center; justify-content: center; letter-spacing: -0.025em; color:#444; cursor:pointer }
#navbar .login-btns div.join::before {  content:""; display:block; margin-right:8px; background-repeat:no-repeat; background-position:center; width:12px; height:12px; background-image:url(../images/ico_join.png); }
#navbar .login-btns div.join::after { content:""; position:absolute; left:-23px; top:50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); display:block; width:1px; height:18px; background-color:#ddd; }
#navbar .login-btns div.join .mypage-menu { position:absolute; top:35px; z-index: 2; background-color:#fff; border:1px solid #ddd; width:100%; } */

#navbar .login-btns .mypage-menu {
    display: none;
    position: absolute;
    top: 55px;
    right: 0;
    z-index: 2;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    padding: 0 8px;
}

#navbar .login-btns .mypage-menu ul li a {
    padding: 8px 5px;
    display: block;
    box-sizing: border-box;
    text-align: center;
    font-size: 0.95em;
    letter-spacing: -0.025em;
    color: #333;
    line-height: 1;
}

#navbar .login-btns .mypage-menu ul li {
    border-bottom: 1px dashed rgba(0, 0, 0, 0.1)
}

#navbar .login-btns .mypage-menu ul li:last-child {
    border: none;
}

#navbar .m-allcate {
    display: none;
    width: 45px;
    height: 45px;
    background-color: #4f5865;
    text-indent: -99999em;
    font-size: 0;
    background-image: url(../images/m_ham.png);
    background-repeat: no-repeat;
    background-position: center
}

#m-nav {
    display: none;
    position: fixed;
    left: 100%;
    top: 0;
    transition: left 0.5s;
    bottom: 0;
    width: 100%;
    z-index: 9999;
    background-color: #fff;
}

#m-nav.open {
    left: 0%;
    transition: left 0.5s;
}

#m-nav .nav-top {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

#m-nav .nav-top h1.logo{
    padding: 10px 0;
    width: 90%;
    margin: auto;
}

#m-nav .nav-top h1.logo a {
    display: block;
}

#m-nav .nav-top h1.logo a img {
    width: 220px;
}

#m-nav .nav-top .m-login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0px 0%;
    margin: auto;
    background: #f2f2f2;
}

#m-nav .nav-top .m-login a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 0px 0% !important;
    height: 40px;
    font-size: 0.8em;
    background-color: #303192;
    border-radius: 0px;
    color: #fff;
    border-right: 1px solid rgba(255,255,255,0.3);
}

#m-nav .nav-top .m-login a.join {
    margin-left: 5px;
}

#m-nav .nav-top .m-login a.mypage {
    margin-left: 5px;
}

#m-nav .nav-top .m-login a.cart {
    margin-left: 5px;
}

#m-nav .nav-top .m-login a.mnav-close {
    background-color: #fff;
    color: #333;
    border-radius: 0;
    border: 1px solid #666;
    margin-left: 8px;
    font-size: 0;
    text-indent: -9999em;
    width: 20px;
    height: 20px;
    background: url(../images/i_x.png) no-repeat center / auto 50%;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    right: 5%;
    transform: translate(0,0%);
}

#m-nav .mypage-menu {
    display: none;
    position: absolute;
    width: 100%;
    top: 52px;
    background-color: #fff;
    z-index: 5;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

#m-nav .mypage-menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

#m-nav .mypage-menu ul li a {
    color: #000;
    display: block;
    padding: 0 10px;
}

#m-nav .line {
    content: "";
    display: block;
    width: 100%;
    height: 8px;
    background-color: #ddd;
    border-top: 1px solid #cfcfcf;
    border-bottom: 1px solid #cfcfcf;
    display: none;
}

#m-nav .nav-cate {
    padding: 15px 5%;
    position: absolute;
    left: 0;
    top: 140px;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

#m-nav .nav-cate h2 {
    font-size: 1.1em;
    letter-spacing: -0.05em;
    font-weight: 500;
    margin-bottom: 15px;
    text-align: left;
    padding-left: 10px;
    position: relative;
}

#m-nav .nav-cate h2::before{
    content: '';
    display: block;
    width: 4px;
    height: 14px;
    background: #303192;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0,-50%);
}

#m-nav .nav-cate .cate-list>ul {
    display: flex;
    flex-wrap: wrap;
}

#m-nav .nav-cate .cate-list>ul li.list-item {
    position: relative;
    width: 50%;
}

#m-nav .nav-cate .cate-list>ul li.list-item a.cate-depth1 {
    position: relative;
    display: block;
    padding: 10px 25px 10px 8px;
    /* border-bottom: 1px solid #ddd; */
    color: #000;
    font-weight: 500;
    letter-spacing: -0.025em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#m-nav .nav-cate .cate-list>ul li.list-item a.cate-depth1.open {
    background-color: #0068ca;
    color: #fff;
}

#m-nav .nav-cate .cate-list>ul li.list-item a.cate-depth1::after {
    content: "";
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    width: 10px;
    height: 7px;
    background: url(../images/select_arrow.png) no-repeat center / contain;
}

#m-nav .nav-cate .cate-list>ul li.list-item a.cate-depth1.open::after {
    background-image: url(../images/select_arrow_open.png);
}

#m-nav .nav-cate .cate-list>ul li.list-item .cate-depth2 {
    display: none;
    width: 200%;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    box-sizing: border-box;
}

#m-nav .nav-cate .cate-list>ul li.list-item .cate-depth2.open {
    display: block;
}

#m-nav .nav-cate .cate-list>ul li.list-item:nth-child(even) .cate-depth2 {
    margin-left: -100%;
}

#m-nav .nav-cate .cate-list>ul li.list-item .cate-depth2 ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#m-nav .nav-cate .cate-list>ul li.list-item .cate-depth2 ul li {
    width: 50%;
}

#m-nav .nav-cate .cate-list>ul li.list-item .cate-depth2 ul li a {
    position: relative;
    display: block;
    font-size: 0.9em;
    color: #000;
    text-overflow: ellipsis;
    padding: 5px 0 5px 18px;
}

#m-nav .nav-cate .cate-list>ul li.list-item .cate-depth2 ul li a::before {
    content: "";
    display: block;
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    width: 3px;
    height: 3px;
    border-radius: 3px;
    background-color: #777;
    letter-spacing: -0.025em;
}

.loc-bar {
    height: 54px;
    border-bottom: 1px solid #ddd;
}

.loc-bar .loc-step>ul {
    display: flex;
    align-items: center;
}

.loc-bar .loc-step>ul li.loc-item {
    position: relative;
    height: 54px;
    padding-left: 17px;
    margin-left: 17px;
}

.loc-bar .loc-step>ul li.loc-item::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    display: block;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    width: 7px;
    height: 11px;
    background-image: url(../images/loc_step.png);
    background-repeat: no-repeat;
    background-position: center;
}

.loc-bar .loc-step>ul li.loc-item:first-child {
    margin-left: 0;
    padding-left: 0;
}

.loc-bar .loc-step>ul li.loc-item:first-child::before {
    display: none;
}

.loc-bar .loc-step>ul li.loc-item a.loc-depth1 {
    position: relative;
    display: flex;
    height: 54px;
    align-items: center;
    font-size: 0.9em;
    color: #000;
}

.loc-bar .loc-step>ul li.loc-item a.loc-depth1::after {
    content: "";
    display: block;
    width: 7px;
    height: 4px;
    background-image: url(../images/loc_drop.png);
    background-repeat: no-repeat;
    margin-left: 5px;
}

.loc-bar .loc-step>ul li.loc-item.home a.loc-depth1::after {
    display: none;
}

.loc-bar .loc-step>ul li.loc-item .loc-depth2 {
    position: absolute;
    left: 0;
    top: 54px;
    z-index: 999;
    display: none;
    width: 420px;
}

.loc-bar .loc-step>ul li.loc-item .loc-depth2.open {
    display: block;
}

.loc-bar .loc-step>ul li.loc-item .loc-depth2 .box {
    position: absolute;
    display: flex;
    background-color: #fff;
    border: 1px solid #ddd;
    z-index: 999;
    padding: 15px;
    box-sizing: border-box;
}

.loc-bar .loc-step>ul li.loc-item .loc-depth2 ul {
    min-width: 140px;
}

.loc-bar .loc-step>ul li.loc-item .loc-depth2 ul li {
    margin-bottom: 10px;
}

.loc-bar .loc-step>ul li.loc-item .loc-depth2 ul li:last-child {
    margin-bottom: 0;
}

.loc-bar .loc-step>ul li.loc-item .loc-depth2 ul li a {
    font-size: 0.9em;
    letter-spacing: -0.05em;
    color: #000;
}

#container {
    background-color: #fff;
    padding: 50px 0;
}

.youtube-box {
    position: absolute;
    left: -225px;
    top: 43px;
    transition: top 0.5s;
    border: 1px solid #ddd;
    width: 200px;
    box-sizing: border-box;
}

.youtube-box .thumb-slide {
    padding: 15px;
}

.youtube-box .thumb-img {
    width: 55px;
    height: 55px;
}

.youtube-box .paging-info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.youtube-box .paging-info .youtube-pagination {
    font-size: 0.75em;
    display: block;
    width: auto;
    margin-right: 10px;
    letter-spacing: -0.05em;
    color: #555;
    font-weight: 500;
}

.youtube-box .paging-info .youtube-pagination .swiper-pagination-current {
    font-weight: 600;
}

.youtube-box .paging-info a {
    width: 24px;
    height: 20px;
    display: block;
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    box-sizing: border-box;
}

.youtube-box .paging-info a.youtube-prev {
    background-image: url(../images/youtube_prev.png)
}

.youtube-box .paging-info a.youtube-next {
    background-image: url(../images/youtube_next.png)
}

.right-fixbox {
    position: absolute;
    right: -125px;
    top: 43px;
    transition: top 0.5s;
    width: 100px;
}

.right-fixbox .latest-view {}

.right-fixbox .latest-view .view-tit {
    width: 100%;
    height: 35px;
    line-height: 35px;
    color: #fff;
    background-color: #4e4e4e;
    text-align: center;
    font-size: 0.85em;
    letter-spacing: -0.05em;
}

.right-fixbox .latest-view .view-tit span {
    color: #fcff00;
}

.right-fixbox .latest-view .latest-list {
    background-color: #f8f8f8;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 20px 10px;
    box-sizing: border-box;
}

.right-fixbox .latest-view .latest-list ul li.list-item {
    margin-bottom: 10px;
}

.right-fixbox .latest-view .latest-list ul li.list-item:last-child {
    margin-bottom: 0;
}

.right-fixbox .latest-view .latest-list ul li.list-item a .latest-img {
    position: relative;
    width: 52px;
    margin: 0 auto;
    position: relative;
}

.right-fixbox .latest-view .latest-list ul li.list-item a .latest-img .img-wrap {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: calc(188 / 130 * 100%);
    border: 1px solid #9f9f9f;
    box-sizing: border-box;
}

.right-fixbox .latest-view .latest-list ul li.list-item a .latest-img .img-wrap img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.right-fixbox .latest-view .latest-list .latest-paging {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.right-fixbox .latest-view .latest-list .latest-paging a {
    display: block;
    width: 16px;
    height: 16px;
    border: 1px solid #ddd;
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    font-size: 0;
    text-indent: -9999em;
}

.right-fixbox .latest-view .latest-list .latest-paging a.latest-prev {
    background-image: url(../images/latest_prev.png)
}

.right-fixbox .latest-view .latest-list .latest-paging a.latest-next {
    background-image: url(../images/latest_next.png)
}

.right-fixbox .latest-view .latest-list .latest-paging .page-num {
    font-size: 0.8em;
    letter-spacing: -0.05em;
    color: #777;
    margin: 0 8px;
}

.right-fixbox .latest-view .latest-list .latest-paging .page-num span.min {
    color: #000;
    font-weight: 500;
}

.right-fixbox .latest-view .latest-list .latest-paging .page-num span.slash {
    font-size: 0.85em;
}

.right-fixbox .qrcode-view {
    padding: 10px 10px;
    width: 100%;
}

.right-fixbox .qrcode-view .qrcode {
    wdith: 100%;
    cursor: pointer;
}

#footer {
    background-color: #1a1e28;
    border-top: 1px solid #ddd;
    padding: 0px 0 40px 0;
}

#footer .inner {
    display: block;
    position: relative;
    width: 100%;
    max-width: 100%;
}

#footer .f-links{
    padding: 10px 0;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}

#footer .f-links ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer .f-links ul li{
    padding: 0 10px;
    position: relative;
}

#footer .f-links ul li::after{
    content: '';
    display: block;
    width: 1px;
    height: 10px;
    background: rgba(255,255,255,0.4);
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0,-50%);
}

#footer .f-links ul li:last-child::after{
    display: none;
}

#footer .f-links ul li a{
    font-size: 0.75em;
    color: #fff;
    font-weight: 400;
    line-height: 1.5;
}

#footer #f-logo a {
    display: block;
    position: relative;
    width: 337px;
    height: 63px;
    margin: 30px auto;
}

#footer #f-logo a .logo {
    position: static;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/kobic_logo_footer.png) no-repeat center / contain;
}

#footer #f-logo a .blend {
    background-blend-mode: multiply;
    background-color: #f2f2f2;
}

#footer .f-con .f-links {
    margin-bottom: 10px;
}

#footer .f-con .f-links ul {
    display: flex;
}

#footer .f-con .f-links ul li {
    position: relative;
    padding: 0 15px;
    border-right: 1px solid #a1a3a8;
}

#footer .f-con .f-links ul li:last-child {
    border-right: 0;
}

#footer .f-con .f-links ul li:first-child {
    padding-left: 0;
}

#footer .f-con .f-links ul li a {
    display: block;
    color: #666;
    letter-spacing: -0.025em;
    line-height: 1;
    font-size: 14px;
}

#footer .f-con .f-copy p {
    line-height: 2;
    color: #fff;
    font-size: 0.8em;
    text-align: center;
}

#footer .inner .kpaLogo {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: 200px;
    height: auto;
    overflow: hidden;
    display: none !important;
}

#footer .inner .kpaLogo img {
    max-width: 100%;
}

/* Layer Popup */
.layer_popup_wrap {
    display: none;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000;
}

.layer_popup_wrap.show {
    display: block;
}

.layer_popup_wrap .layer_popup {
    height: 100%;
    padding: 10px;
}

/* Layer Popup Simple */
.layer_popup_wrap .layer_popup .layer_popup_simple {
    display: none;
    width: 100%;
    max-width: 1280px;
    height: 100%;
    margin: 0px auto;
}

.layer_popup_wrap .layer_popup .layer_popup_simple.show {
    display: table;
}

.layer_popup_wrap .layer_popup .layer_popup_simple .popup_box_wrap {
    display: table-cell;
    width: 100%;
    max-width: 1100px;
    vertical-align: middle;
}

.layer_popup_wrap .layer_popup .layer_popup_simple .popup_box_wrap .popup_box {
    position: relative;
    width: 100%;
    max-height: 100%;
    margin: 0 auto;
}

.layer_popup_wrap .layer_popup .layer_popup_simple .popup_box_wrap .popup_box .popup_top {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #0d3155;
    padding: 20px 25px;
;
    color: #fff;
    font-size: 1.2em;
}

.layer_popup_wrap .layer_popup .layer_popup_simple .popup_box_wrap .popup_box .popup_top strong {
    display: block;
    text-align: left
}

.layer_popup_wrap .layer_popup .layer_popup_simple .popup_box_wrap .popup_box .popup_content {
    background-color: #fff;
    padding: 40px;
    box-sizing: border-box;
}

.layer_popup_simple .popup_box_wrap .popup_box .title_popup_box {
    padding-bottom: 12px;
    border-bottom: 1px solid #ddd;
    font-family: "NanumSquare", "NanumGothic", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #00a6ff;
    word-break: keep-all;
}

.layer_popup_simple .popup_box_wrap .popup_box .poup_box_content {
    padding-top: 15px;
}

.layer_popup_simple .popup_box_wrap .popup_box .poup_box_content * {
    word-break: keep-all;
}

.layer_popup_simple .popup_box_wrap .popup_box .popup_1day_close {
    margin-top: 20px;
    text-align: center;
}

.layer_popup_simple .popup_box_wrap .popup_box .close_popup {
    position: absolute;
    right: 25px;
    top: 17px;
    display: block;
    width: 25px;
    height: 25px;
    overflow: hidden;
    text-indent: -9999px;
}

.layer_popup_simple .popup_box_wrap .popup_box .close_popup:before {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    top: 11.5px;
    height: 2px;
    background-color: #fff;
    transform: translate3D(0, 0px, 0) rotate(-45deg);
}

.layer_popup_simple .popup_box_wrap .popup_box .close_popup:after {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 11.5px;
    height: 2px;
    background-color: #fff;
    transform: translate3D(0, 0px, 0) rotate(45deg);
}

.layer_popup_simple .popup_box_wrap .popup_box .close_popup:hover:before,
.layer_popup_wrap .layer_popup .layer_popup_window .lp_top .close_popup:hover:after {
    background: #fff;
}

.mt10 {
    margin-top: 10px;
}

.mt15 {
    margin-top: 15px;
}

.mt20 {
    margin-top: 20px;
}

.mt25 {
    margin-top: 25px;
}

.mt30 {
    margin-top: 30px;
}

.mt35 {
    margin-top: 35px;
}

.mt40 {
    margin-top: 40px;
}

.mt45 {
    margin-top: 45px;
}

.mt50 {
    margin-top: 50px;
}

.mt55 {
    margin-top: 55px;
}

.mt60 {
    margin-top: 60px;
}

.mt65 {
    margin-top: 65px;
}

.mt70 {
    margin-top: 70px;
}

.mt75 {
    margin-top: 75px;
}

.mt80 {
    margin-top: 80px;
}

.mt85 {
    margin-top: 85px;
}

.mt90 {
    margin-top: 90px;
}

.mt95 {
    margin-top: 95px;
}

.mt100 {
    margin-top: 100px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb15 {
    margin-bottom: 15px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb25 {
    margin-bottom: 25px;
}

.mb30 {
    margin-bottom: 30px;
}

.mb35 {
    margin-bottom: 35px;
}

.mb40 {
    margin-bottom: 40px;
}

.mb45 {
    margin-bottom: 45px;
}

.mb50 {
    margin-bottom: 50px;
}

.mb55 {
    margin-bottom: 55px;
}

.mb60 {
    margin-bottom: 60px;
}

.mb65 {
    margin-bottom: 65px;
}

.mb70 {
    margin-bottom: 70px;
}

.mb75 {
    margin-bottom: 75px;
}

.mb80 {
    margin-bottom: 80px;
}

.mb85 {
    margin-bottom: 85px;
}

.mb90 {
    margin-bottom: 90px;
}

.mb95 {
    margin-bottom: 95px;
}

.mb100 {
    margin-bottom: 100px;
}

.ml10 {
    margin-left: 10px;
}

.ml15 {
    margin-left: 15px;
}

.ml20 {
    margin-left: 20px;
}

.ml25 {
    margin-left: 25px;
}

.ml30 {
    margin-left: 30px;
}

.ml35 {
    margin-left: 35px;
}

.ml40 {
    margin-left: 40px;
}

.ml45 {
    margin-left: 45px;
}

.ml50 {
    margin-left: 50px;
}

.ml55 {
    margin-left: 55px;
}

.ml60 {
    margin-left: 60px;
}

.ml65 {
    margin-left: 65px;
}

.ml70 {
    margin-left: 70px;
}

.ml75 {
    margin-left: 75px;
}

.ml80 {
    margin-left: 80px;
}

.ml85 {
    margin-left: 85px;
}

.ml90 {
    margin-left: 90px;
}

.ml95 {
    margin-left: 95px;
}

.ml100 {
    margin-left: 100px;
}

.mr10 {
    margin-right: 10px;
}

.mr15 {
    margin-right: 15px;
}

.mr20 {
    margin-right: 20px;
}

.mr25 {
    margin-right: 25px;
}

.mr30 {
    margin-right: 30px;
}

.mr35 {
    margin-right: 35px;
}

.mr40 {
    margin-right: 40px;
}

.mr45 {
    margin-right: 45px;
}

.mr50 {
    margin-right: 50px;
}

.mr55 {
    margin-right: 55px;
}

.mr60 {
    margin-right: 60px;
}

.mr65 {
    margin-right: 65px;
}

.mr70 {
    margin-right: 70px;
}

.mr75 {
    margin-right: 75px;
}

.mr80 {
    margin-right: 80px;
}

.mr85 {
    margin-right: 85px;
}

.mr90 {
    margin-right: 90px;
}

.mr95 {
    margin-right: 95px;
}

.mr100 {
    margin-right: 100px;
}

.pt10 {
    padding-top: 10px;
}

.pt15 {
    padding-top: 15px;
}

.pt20 {
    padding-top: 20px;
}

.pt25 {
    padding-top: 25px;
}

.pt30 {
    padding-top: 30px;
}

.pt35 {
    padding-top: 35px;
}

.pt40 {
    padding-top: 40px;
}

.pt45 {
    padding-top: 45px;
}

.pt50 {
    padding-top: 50px;
}

.pt55 {
    padding-top: 55px;
}

.pt60 {
    padding-top: 60px;
}

.pt65 {
    padding-top: 65px;
}

.pt70 {
    padding-top: 70px;
}

.pt75 {
    padding-top: 75px;
}

.pt80 {
    padding-top: 80px;
}

.pt85 {
    padding-top: 85px;
}

.pt90 {
    padding-top: 90px;
}

.pt95 {
    padding-top: 95px;
}

.pt100 {
    padding-top: 100px;
}


@media all and (max-width:1280px) {

    html,
    body {
        font-size: 16px;
    }

    .inner {
        width: 100%;
        padding: 0 15px;
        box-sizing: border-box;
    }

    .container-sub .inner {
        flex-direction: column;
    }

    #navbar .cate-box {
        width: 100%;
        box-sizing: border-box;
    }

    #container {
        padding: 30px 0;
    }

    .youtube-box {
        display: none;
    }

    .right-fixbox {
        display: none;
    }

}


@media all and (max-width:1150px) {
    #header {
        height: auto;
    }

    #header .inner {
    }

    #header .book-rank{
        display: none;
    }

    #header #h-logo {
    }

    #header #h-logo img {
        width: 100%;
    }

    #header #header-search {
    }

    #header span.system-link {
        position: absolute;
        right: 15px;
        top: 15px;
    }

    #header .book-rank {
        width: 175px;
        margin: 0 auto;
        justify-content: space-between;
    }

    #navbar .inner {
        padding: 0;
    }

    #navbar a.all-cate {
        display: none;
    }

    #navbar .login-btns {
        display: none;
    }

    #navbar .login-btns .mypage-menu {
        display: none !important
    }

    #navbar {
        height: 45px;
    }

    #navbar .nav {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        overflow-x: auto;
    }

    #navbar .m-allcate {
        display: block;
        position: fixed;
        left: -100%;
        top: -100%;
    }

    #m-nav {
        display: block;
    }
}

@media all and (max-width:960px) {

    html,
    body {
        font-size: 14px;
    }

    #header #h-logo {
        width: 100%;
        position: relative;
    }

    #header #h-logo a{
        max-width: 250px;
        display: block;
    }

    #header #h-logo .menuOpen{
        width: 25px;
        height: 20px;
        position: relative;
        cursor: pointer;
        display: block;
        position: absolute;
        top: 50%;
        right: 0px;
        transform: translate(0,-50%);
        display: none;
    }

    #header #h-logo .menuOpen span{
        display: block;
        width: 100%;
        height: 2px;
        background: #303192;
        border-radius: 100px;
        position: absolute;
        left: 50%;
    }

    #header #h-logo .menuOpen span:nth-child(1){
        top: 0;
        transform: translate(-50%,0);
    }

    #header #h-logo .menuOpen span:nth-child(2){
        top: 50%;
        transform: translate(-50%,-50%);
    }

    #header #h-logo .menuOpen span:nth-child(3){
        top: 100%;
        transform: translate(-50%,-100%);
    }

    #navbar .nav ul li a {
        width: 120px;
    }

    #footer .inner {
        display: block;
        padding: 0;
    }

    #footer #f-logo a {
        margin: 15px auto;
    }

    #footer .f-con .f-links {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #footer .f-con .f-copy p {
        text-align: center;
        font-size: 0.7em;
    }

    #footer .inner .kpaLogo {
        position: relative;
        display: block;
        right: unset;
        top: unset;
        transform: none;
        margin: 20px auto 0;
        width: 160px;
    }

    #navbar .nav ul {
        justify-content: space-between;;
    }

}

@media all and (max-width:768px) {

    #tnb .inner{
        width: 100%;
        padding: 0;
    }

    #tnb .login-btns{
        display: none;
    }

    #tnb .inner .tnbLink{
        width: 100%;
        border-radius: 0;
        margin-left: 0;
    }

    #tnb .inner .tnbLink a{
        font-size: 0.8em;
    }

    #header #h-logo .menuOpen{
        display: block;
    }

    #header .inner{
        display: block;
    }

    #header #h-logo{
        padding: 20px 0;
    }

    #header #header-search {
        width: 100%;
        height: 41px;
    }

    #header .search_detail{
        display: none;
    }

    #header #header-search .input-wrap input[type="text"] {
        width: calc(100% - 35px);
        height: 37px;
    }

    #header #header-search .input-wrap button[type="button"].search-btn {
        height: 37px;
        background-size: 20px 24px;
    }

    #navbar .nav ul li a {
        padding: 0 15px;
    }

    .loc-bar {
        display: none;
    }

    #footer {
        padding: 0px 0 30px;
    }

    #footer #f-logo a {
        width: 200px;
        height: 43px;
    }

    #footer #f-logo a .logo {
        width: 200px;
        height: 43px;
        background-size: 100%;
    }

}

@media all and (max-width:460px) {

    #header #h-logo a {
        width: 60%;
    }

    #header span.system-link a.i_system {
        width: 116px;
        margin-right: 5px;
    }

    #header span.system-link a.i_auto_system {
        width: 96px;
    }

    #header span.system-link a img {
        height: 35px;
    }

    /* #navbar .nav ul li { width:25% } */
    #navbar .nav ul li a {
        width: 100%;
        font-size: 0.95em;
    }
}







/********************** 202209 수정사항 **********************/
/* 재선언 */
#navbar .nav ul li a {
    width: auto;
}

@media all and (max-width:960px) {
    #navbar .nav ul li a {
        margin: 0 25px;
    }
}

@media all and (max-width:768px) {
    #navbar .nav ul li a {
        margin: 0;
    }
}

/* service category */
.service_category_box {
    display: none;
    margin-bottom: 30px;
}
.service_category_box .btn_service_category {
	text-align: left;
	font-size: 0;
    border: 0;
    border-radius: 0;
    background: none;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
}
.service_category_box .btn_service_category:after {
	content: "";
	display: inline-block;
	width: 13px;
	height: 13px;
	margin: 6px 0 0 10px;
	background-size: 13px 13px;
	background-image: url("../images/arw_service_depth_change.png");
}
.service_category_box .category_title {
	display: inline;
	font-weight: 500;
	font-size: 16px;
	line-height: 28px;
	letter-spacing: -0.01em;
	vertical-align: top;
}
.service_category_box .category_title:after {
	content: "";
	display: inline-block;
	width: 8px;
	height: 10px;
	background-size: 8px 10px;
	background-image: url("../images/arw_service.png");
	margin: 8px 4px 0;
	vertical-align: top;
}
.service_category_box .category_title:last-child:after {
	content: none;
}

@media all and (max-width:1280px) {
	.service_category_box {
        display: block;
    }
}
